<div class="row">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <input class="form-control" type="text"
                       placeholder="Enter a GitHub username and press `Enter` to search"
                       name="username"
                       [(ngModel)]="username" (keyup.enter)="searchUser()"/>
            </div>
        </form>
    </div>
    <div class="col-md-12" *ngIf="errorMessage">
        <div class="alert alert-danger">
            <strong>Error!</strong> {{errorMessage}}
        </div>
    </div>
</div>

<div *ngIf="user">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{user.name}}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <img class="profileImage img-thumbnail" src="{{user.avatar_url}}"/>
                    <a class="btn btn-default btn-block" href="{{user.html_url}}" target="_blank">
                        View Profile
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="stats">
                        <span class="label label-primary">{{user.public_repos}} Public Repositories</span>
                        <span class="label label-success">{{user.public_gists}} Public Gists</span>
                        <span class="label label-info">{{user.followers}} Followers</span>
                        <span class="label label-warning">{{user.following}} Following</span>
                    </div>
                    <br/>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Username: </strong>{{user.login}}</li>
                        <li class="list-group-item"><strong>Location: </strong>{{user.location}}</li>
                        <li class="list-group-item"><strong>Email: </strong>{{user.email}}</li>
                        <li class="list-group-item"><strong>Blog: </strong>{{user.blog}}</li>
                        <li class="list-group-item"><strong>Member since: </strong>{{user.created_at}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Repositories</h3>
        </div>
        <div class="panel-body">
            <div *ngFor="let repository of repositories">
                <div class="row">
                    <div class="col-md-9">
                        <h4><a href="{{repository.html_url}}" target="_blank">{{repository.name}}</a></h4>
                        <p>{{repository.description}}</p>
                    </div>
                    <div class="col-md-3">
                        <span class="label label-primary">{{repository.watchers}} Watchers</span>
                        <span class="label label-success">{{repository.forks}} Forks</span>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
    </div>
</div>